body {
    background-color: #000; /* fundo escuro para neon */
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;  
}

.container {
    width: 380px;
    background-color: #000000;
    margin: 40px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5), 0 0 50px rgba(0, 255, 255, 0.2);
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #00ffff; /* cor neon */
    text-shadow:
        0 0 5px #00ffff,
        0 0 10px #00ffff,
        0 0 20px #00ffff,
        0 0 40px #0ff,
        0 0 80px #0ff;
}

hr {
    border: 2px solid #ff00ff;
    margin-bottom: 25px;
    box-shadow: 0 0 10px #ff00ff;
}

label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
    color: #ff00ff;
    text-shadow: 0 0 5px #ff00ff;
}

input {
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #111;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 0 5px #0ff;
}

button {
    width: 100%;
    margin-top: 25px;
    height: 40px;
    background-color: #0c30ad;
    color: #ff00ff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    text-shadow: 0 0 5px #ff00ff;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

button:hover {
    background-color: #111;
    box-shadow: 0 0 20px #ff00ff, 0 0 40px #ff00ff;
}

#resultado {
    background-color: #110efb;
    color: #fff;
    margin-top: 30px;
    height: 160px;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
    text-shadow: 0 0 5px #0ff;
}
